body, html {
    height: 100%;
    margin: 0;
    overflow: hidden; /* Prevent scrolling */
    background: rgb(44, 47, 59);
    background: -webkit-linear-gradient(to left, rgb(40, 59, 34), rgb(54, 60, 70), rgb(32, 32, 43));
    background: linear-gradient(45deg, rgba(67, 152, 245, 255), #fff, #fff, #fff, rgba(9, 16, 149, 255));
}

.chatbot-main{
	position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}
*{margin: 0;padding: 0;box-sizing: border-box;}
.company-logo {
    position:absolute;
    top: 20px; /* Adjust the top position as needed */
    left: 20px; /* Adjust the left position as needed */
    z-index: 1000; /* Make sure it appears above other elements */
}

.company_logo {
    width: 250px;
    height: auto;
}
.chat{
	margin-top: auto;
	margin-bottom: auto;
}
.card{
	height: 580px;
	border-radius: 15px !important;
	background-color: #031624 !important;
}
.contacts_body{
	padding:  0.75rem 0 !important;
	overflow-y: auto;
	white-space: nowrap;
}
.msg_card_body{
	overflow-y: auto;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.card-header{
	border-radius: 15px 15px 0 0 !important;
	border-bottom: 0 !important;
}
.card-footer{
border-radius: 0 0 15px 15px !important;
	border-top: 0 !important;
}
.container{
	align-content: center;
}
.search{
	border-radius: 15px 0 0 15px !important;
	background-color: rgba(0,0,0,0.3) !important;
	border:0 !important;
	color:white !important;
}
.searc h:focus{
	 box-shadow:none !important;
   outline:0px !important;
}
.type_msg{
	background-color: #0573e1 !important;
	border:0 !important;
	color:white !important;
	height: 60px !important;
	overflow-y: auto;
}
	.type_msg:focus{
	box-shadow:none !important;
    outline:0px !important;
}

::placeholder{
	color: #fff !important;
}

.attach_btn{
	border-radius: 15px 0 0 15px !important;
	background-color: rgba(0,0,0,0.3) !important;
	border:0 !important;
	color: white !important;
	cursor: pointer;
}
.send_btn{
	background-color: #0573e1 !important;
	border:0 !important;
	color: white !important;
	cursor: pointer;
}
.search_btn{
	border:0 !important;
	color: white !important;
	cursor: pointer;
}
.contacts{
	list-style: none;
	padding: 0;
}
.contacts li{
	width: 100% !important;
	padding: 5px 10px;
	margin-bottom: 15px !important;
}
.active{
	background-color: rgba(0,0,0,0.3);
}
.user_img{
	height: 70px;
	width: 70px;
	border:1.5px solid #f5f6fa;
}
.input-group{
	background-color: #0573e1 !important;
	border-radius: 50px !important;
}
.user_img_msg{
	height: 40px;
	width: 40px;
	border:1.5px solid #f5f6fa;

}
.img_cont{
	position: relative;
	height: 70px;
	width: 70px;
}
.img_cont_msg{
	height: 40px;
	width: 40px;
}
.online_icon{
	position: absolute;
	height: 15px;
	width:15px;
	background-color: #4cd137;
	border-radius: 50%;
	bottom: 0.2em;
	right: 0.4em;
	border:1.5px solid white;
}
.offline{
	background-color: #c23616 !important;
}
.user_info{
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 15px;
}
.user_info span{
	font-size: 22px;
    color: #0573e1 !important;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
}
.user_info p{
	font-size: 13px;
    color: #fff;
	font-family: "Poppins",sans-serif !important;
    font-weight: 400;
}
.video_cam{
	margin-left: 50px;
	margin-top: 5px;
}
.video_cam span{
	color: white;
	font-size: 20px;
	cursor: pointer;
	margin-right: 20px;
}
.msg_cotainer{
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 10px;
	border-radius: 25px;
	background-color: rgb(82, 172, 255);
	padding: 10px;
	position: relative;
}
.msg_cotainer_send{
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 10px;
	border-radius: 25px;
	background-color: #4bf470;
	padding: 10px;
	position: relative;
}
.msg_time{
	position: absolute;
	left: 0;
	bottom: -15px;
	color: rgba(255,255,255,0.5);
	font-size: 10px;
}
.msg_time_send{
	position: absolute;
	right:0;
	bottom: -15px;
	color: rgba(255,255,255,0.5);
	font-size: 10px;
}
.msg_head{
	position: relative;
	background-color: #031624 !important;
}
#action_menu_btn{
	position: absolute;
	right: 10px;
	top: 10px;
	color: white;
	cursor: pointer;
	font-size: 20px;
}
.action_menu{
	z-index: 1;
	position: absolute;
	padding: 15px 0;
	background-color: rgba(0,0,0,0.5);
	color: white;
	border-radius: 15px;
	top: 30px;
	right: 15px;
	display: none;
}
.action_menu ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.action_menu ul li{
	width: 100%;
	padding: 10px 15px;
	margin-bottom: 5px;
}
.action_menu ul li i{
	padding-right: 10px;
}
.action_menu ul li:hover{
	cursor: pointer;
	background-color: rgba(0,0,0,0.2);
}

@media(max-width: 576px){
	.contacts_card{
	margin-bottom: 15px !important;
}
}
.footer {
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    padding: 10px;
    font-weight: 600;
    text-align: center; /* Center the text in the footer */
    color: #040529; /* Set text color in the footer */
}

.header {
    text-align: center;
    margin-top: 100px; /* Add a unit (e.g., px) to the margin-top */
    padding: 20px;
}

.header h1 {
    font-size: 36px;
    font-family: 'Your Attractive Font', sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    color: #333;
    margin: 0;
}

